@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-retro-bg text-retro-dark font-retro overflow-x-hidden;
    background-image: 
      radial-gradient(#457b9d 1px, transparent 1px), 
      radial-gradient(#457b9d 1px, transparent 1px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    background-color: #f4ebe4;
  }
}
